body{
    font-family: Copperplate, Papyrus, fantasy;
    background-color: rgb(204, 209, 176);
    padding: 10px;
}
.header-color{
    text-shadow: 5px;
    text-orientation: upright;
}
.firstlog{
    background-position: center;
    text-align: center;
    font-size: 50px;
}     
.main-text{
    color: blue;
}
.page {
    border: 5px solid #665544;
    background-color: #efefef;
    padding: inherit;
    -moz-box-shadow: 0px 5px 5px 0px;
}

Table, tr, th, td{ border : 1px solid rgb(54, 64, 196)}
Table, tr, th, td, thead, tbody, tfoot{ border : 1px solid rgb(54, 64, 196)}
