body{
    font-family: Copperplate, Papyrus, fantasy;
    background-color: rgb(204, 209, 176);
}
.header-color{
    text-shadow: 5px;
    text-orientation: upright;
}
.firstlog{
    background-position: center;
    text-align: center;
    font-size: 50px;
}     
.main-text{
    color: blue;
}

Table, tr, th, td{ border : 1px solid rgb(54, 64, 196)}
Table, tr, th, td, thead, tbody, tfoot{ border : 1px solid rgb(54, 64, 196)}
