@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

li{
    color: blue;
    padding: 5px;
    
}
body {
    background: #bdbd38;
    margin: 0;
    font-family: "Arial"
}

.first-logo{
        color: aquamarine;
        font-weight: bold;
}

h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 23px;
    text-align: center;
}

.header{
    border: 2px;
    color: blue;
}
Table, tr, th, td{ border : 1px solid rgb(54, 64, 196)}
Table, tr, th, td, thead, tbody, tfoot{ border : 1px solid rgb(54, 64, 196)}
