@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    background: #f2f2f1;
    margin: 0;
    font-family: "Arial"
}

.firstlogo{
        color: aquamarine;
        font-weight: bold;
}

h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.header{
    border: 20px;
    color: blue;
}
Table, tr, th, td{ border : 1px solid rgb(54, 64, 196)}
Table, tr, th, td, thead, tbody, tfoot{ border : 1px solid rgb(54, 64, 196)}

h1 {
    padding: 20px;
    color: aquamarine;
}